@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins&family=Quicksand&display=swap');
@import './globals.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom, $color-primary, $color-secondary );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,textarea{
  &::placeholder {
    color: $color-light;
    opacity: 1; /* Firefox */
  }
  
  &:-ms-input-placeholder { 
    color: $color-light;
  }
  
  &::-ms-input-placeholder { 
    color: $color-light;
  }
}